@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #4AB1FF, #2D5CFE);
}
::selection{
  color: #fff;
  background: #3C87FF;
}
.wrapper{
  max-width: 405px;
  padding: 28px 0 30px;
  margin: 137px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.task-input{
    height: 52px;
    padding: 0 25px;
    position: relative;
  }
  .task-input img{
    top: 50%;
    position: absolute;
    transform: translate(17px, -50%);
  }
  .task-input input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 1px solid #999;
  }
  .task-input input:focus,
  .task-input input.active{
    padding-left: 52px;
    border: 2px solid #3C87FF;
  }
  .task-input input::placeholder{
    color: #bfbfbf;
  }
  .controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .controls{
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
  }